<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--Caso quisesse fazer a configuração do HTTPS diretamente pelo web.config (assim como também é totalmente possível realizar o redirecionamento https por aqui) -->
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>